USE [master]
GO
/****** Object:  Database [FilmViet]    Script Date: 8/8/2023 5:22:22 PM ******/
CREATE DATABASE [FilmViet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmViet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FilmViet.mdf' , SIZE = 1024000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmViet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FilmViet_log.ldf' , SIZE = 1024000KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmViet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmViet]
GO
USE [FilmViet]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/8/2023 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[videoId] [int] NULL,
	[comment] [nvarchar](max) NOT NULL,
	[commentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 8/8/2023 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[videoId] [int] NULL,
	[viewedDate] [datetime] NOT NULL,
	[isLiked] [bit] NOT NULL,
	[likedDate] [datetime] NULL,
 CONSTRAINT [PK__history__3213E83F0FBDE858] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 8/8/2023 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vnp_TxnRef] [nchar](8) NOT NULL,
	[videoId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[vnp_OrderInfo] [nchar](30) NOT NULL,
	[vnp_ResponseCode] [nchar](2) NOT NULL,
	[vnp_TransactionNo] [nchar](8) NOT NULL,
	[vnp_Amount] [int] NULL,
	[vnp_BankCode] [nchar](20) NOT NULL,
	[vnp_PayDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Hoadon_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 8/8/2023 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[videoId] [int] NULL,
	[rating] [int] NOT NULL,
	[ratingDate] [datetime] NOT NULL,
 CONSTRAINT [PK__rating__3213E83FBF03A521] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Share]    Script Date: 8/8/2023 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[videoId] [int] NULL,
	[email] [varchar](200) NOT NULL,
	[shareDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/8/2023 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[phone] [char](11) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
	[token] [nchar](20) NULL,
 CONSTRAINT [PK__user__3213E83F7ADEAF30] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 8/8/2023 5:22:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[href] [varchar](50) NOT NULL,
	[poster] [varchar](max) NOT NULL,
	[views] [int] NOT NULL,
	[shares] [int] NOT NULL,
	[daodien] [nvarchar](max) NOT NULL,
	[dienvien] [nvarchar](max) NOT NULL,
	[theloai] [nvarchar](max) NOT NULL,
	[mota] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[addDate] [datetime] NOT NULL,
 CONSTRAINT [PK__video__3213E83F51084390] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([id], [userId], [videoId], [comment], [commentDate]) VALUES (12, 1, 1, N'Phim con nhót mót chồng này quá anh em ơi
', CAST(N'2023-07-18T21:33:28.263' AS DateTime))
INSERT [dbo].[Comment] ([id], [userId], [videoId], [comment], [commentDate]) VALUES (13, 4, 1, N'Phim này hay lắm nha nên em nha anh em
', CAST(N'2023-07-18T22:02:05.467' AS DateTime))
INSERT [dbo].[Comment] ([id], [userId], [videoId], [comment], [commentDate]) VALUES (14, 3, 1, N'Trời ơi ước gì được xem phim này sớm hơn', CAST(N'2023-07-18T22:02:20.837' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([id], [userId], [videoId], [viewedDate], [isLiked], [likedDate]) VALUES (44, 21, 1, CAST(N'2023-07-14T21:54:42.323' AS DateTime), 1, CAST(N'2023-07-15T01:40:44.247' AS DateTime))
INSERT [dbo].[History] ([id], [userId], [videoId], [viewedDate], [isLiked], [likedDate]) VALUES (45, 1, 1, CAST(N'2023-07-14T21:58:07.670' AS DateTime), 1, CAST(N'2023-08-02T00:25:27.087' AS DateTime))
INSERT [dbo].[History] ([id], [userId], [videoId], [viewedDate], [isLiked], [likedDate]) VALUES (46, 4, 1, CAST(N'2023-07-15T00:54:38.747' AS DateTime), 1, CAST(N'2023-07-28T13:10:06.617' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[History] OFF
SET IDENTITY_INSERT [dbo].[Hoadon] ON 

INSERT [dbo].[Hoadon] ([id], [vnp_TxnRef], [videoId], [userId], [vnp_OrderInfo], [vnp_ResponseCode], [vnp_TransactionNo], [vnp_Amount], [vnp_BankCode], [vnp_PayDate]) VALUES (38, N'59836674', 1, 1, N'Thanh toan don hang:59836674  ', N'00', N'14084747', 1000000, N'OCB                 ', CAST(N'2023-08-04T17:43:51.147' AS DateTime))
INSERT [dbo].[Hoadon] ([id], [vnp_TxnRef], [videoId], [userId], [vnp_OrderInfo], [vnp_ResponseCode], [vnp_TransactionNo], [vnp_Amount], [vnp_BankCode], [vnp_PayDate]) VALUES (39, N'73526453', 4, 1, N'Thanh toan don hang:73526453  ', N'24', N'0       ', 1000000, N'VNPAY               ', CAST(N'2023-08-04T17:46:12.407' AS DateTime))
INSERT [dbo].[Hoadon] ([id], [vnp_TxnRef], [videoId], [userId], [vnp_OrderInfo], [vnp_ResponseCode], [vnp_TransactionNo], [vnp_Amount], [vnp_BankCode], [vnp_PayDate]) VALUES (48, N'87334615', 16, 55, N'Thanh toan don hang:87334615  ', N'00', N'14084752', 1500000, N'JCB                 ', CAST(N'2023-08-04T17:50:52.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hoadon] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([id], [userId], [videoId], [rating], [ratingDate]) VALUES (1, 1, 2, 4, CAST(N'2023-07-21T00:47:09.257' AS DateTime))
INSERT [dbo].[Rating] ([id], [userId], [videoId], [rating], [ratingDate]) VALUES (2, 1, 41, 4, CAST(N'2023-07-20T00:48:19.377' AS DateTime))
INSERT [dbo].[Rating] ([id], [userId], [videoId], [rating], [ratingDate]) VALUES (3, 1, 71, 4, CAST(N'2023-07-17T17:09:11.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rating] OFF
SET IDENTITY_INSERT [dbo].[Share] ON 

INSERT [dbo].[Share] ([id], [userId], [videoId], [email], [shareDate]) VALUES (7, 1, 41, N'zwf89160@omeie.com', CAST(N'2023-07-17T15:23:53.337' AS DateTime))
INSERT [dbo].[Share] ([id], [userId], [videoId], [email], [shareDate]) VALUES (8, 1, 16, N'gqh86232@omeie.com', CAST(N'2023-07-17T21:21:50.350' AS DateTime))
INSERT [dbo].[Share] ([id], [userId], [videoId], [email], [shareDate]) VALUES (9, 24, 1, N'nhut.thanthien17@gmail.com', CAST(N'2023-07-24T00:23:56.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[Share] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [email], [password], [phone], [fullname], [isAdmin], [isActive], [token]) VALUES (1, N'admin', N'admin', N'84967363343', N'Lê Quang Nhựt', 1, 1, NULL)
INSERT [dbo].[User] ([id], [email], [password], [phone], [fullname], [isAdmin], [isActive], [token]) VALUES (3, N'nhut.thanthien27@gmail.com', N'lequangnhut', N'84905015900', N'Lê Quang Nhựt', 0, 0, NULL)
INSERT [dbo].[User] ([id], [email], [password], [phone], [fullname], [isAdmin], [isActive], [token]) VALUES (4, N'nhannt237@gmail.com', N'123123', N'0869996530 ', N'Nguyễn Thanh Nhàn', 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Video] ON 

SET IDENTITY_INSERT [dbo].[Video] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__video__7FF10F055E7CC556]    Script Date: 8/8/2023 5:22:23 PM ******/
ALTER TABLE [dbo].[Video] ADD  CONSTRAINT [UQ__video__7FF10F055E7CC556] UNIQUE NONCLUSTERED 
(
	[href] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [DF__history__viewedD__300424B4]  DEFAULT (getdate()) FOR [viewedDate]
GO
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [DF__history__isLiked__30F848ED]  DEFAULT ((0)) FOR [isLiked]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__user__isAdmin__24927208]  DEFAULT ((0)) FOR [isAdmin]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__user__isActive__25869641]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Video] ADD  CONSTRAINT [DF__video__views__29572725]  DEFAULT ((0)) FOR [views]
GO
ALTER TABLE [dbo].[Video] ADD  CONSTRAINT [DF__video__shares__2A4B4B5E]  DEFAULT ((0)) FOR [shares]
GO
ALTER TABLE [dbo].[Video] ADD  CONSTRAINT [DF__video__isActive__2B3F6F97]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__comment__userId__7F2BE32F] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__comment__userId__7F2BE32F]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__comment__videoId__00200768] FOREIGN KEY([videoId])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__comment__videoId__00200768]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__history__userId__2E1BDC42] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__history__userId__2E1BDC42]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__history__videoId__2F10007B] FOREIGN KEY([videoId])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__history__videoId__2F10007B]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_User]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Video] FOREIGN KEY([videoId])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Video]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__rating__userId__73BA3083] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__rating__userId__73BA3083]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__rating__videoId__74AE54BC] FOREIGN KEY([videoId])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__rating__videoId__74AE54BC]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK__share__userId__33D4B598] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK__share__userId__33D4B598]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK__share__videoId__34C8D9D1] FOREIGN KEY([videoId])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK__share__videoId__34C8D9D1]
GO
/****** Object:  StoredProcedure [dbo].[SP_PaymentVnpay]    Script Date: 8/8/2023 5:22:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PaymentVnpay](@videoHref varchar(50))
AS BEGIN
SELECT u.id, u.email, u.password, u.phone, u.isAdmin, u.isActive, u.token , vnp_TxnRef, v.title, u.fullname, vnp_BankCode, SUM(vnp_Amount), vnp_ResponseCode FROM Hoadon h
JOIN dbo.[user] u ON u.id = h.userId 
JOIN dbo.video v ON v.id = h.videoId
WHERE v.href = @videoHref
GROUP BY u.id, u.email, u.password, u.phone, u.isAdmin, u.isActive, u.token , vnp_TxnRef, v.title, u.fullname, vnp_BankCode, vnp_ResponseCode
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectUsersLikedVideoByVideoHref]    Script Date: 8/8/2023 5:22:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SelectUsersLikedVideoByVideoHref](@videoHref varchar(50))
AS BEGIN 
	SELECT u.id, u.email, u.password, u.phone, u.fullname, u.isAdmin, u.isActive, h.likedDate, u.token
	FROM dbo.video v JOIN dbo.history h ON v.id = h.videoId
					JOIN dbo.[user] u ON u.id = h.userId
	WHERE v.href = @videoHref AND u.isActive = 1 AND v.isActive = 1 AND h.isLiked = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserShareVideoByHref]    Script Date: 8/8/2023 5:22:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UserShareVideoByHref](@videoHref varchar(50))
AS BEGIN 
	SELECT v.title, v.href, u.fullname, u.email AS 'Gui', s.email AS 'Nhan', s.shareDate, u.id, u.email, u.password, u.phone, u.fullname, u.isAdmin, u.isActive, u.token FROM dbo.share s 
	JOIN dbo.[user] u ON u.id = s.userId 
	JOIN dbo.video v ON v.id = s.videoId
	WHERE v.href = @videoHref
	GROUP BY v.title, v.href, u.fullname, u.email, s.email, s.shareDate, u.id, u.email, u.password, u.phone, u.fullname, u.isAdmin, u.isActive, u.token
	ORDER BY s.shareDate DESC
END
GO
USE [master]
GO
