<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>BackEnd</display-name>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>nhut.thanthien17@gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>dlckwoskkfkppvlx</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>EmailForm.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>HomeController</display-name>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>Controll.Controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/HomeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>Controll.Controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SigupController</display-name>
		<servlet-name>SigupController</servlet-name>
		<servlet-class>Controll.Controller.SigupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigupController</servlet-name>
		<url-pattern>/SigupController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VideoController</display-name>
		<servlet-name>VideoController</servlet-name>
		<servlet-class>Controll.Controller.VideoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoController</servlet-name>
		<url-pattern>/VideoController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HomeControllerAdmin</display-name>
		<servlet-name>HomeControllerAdmin</servlet-name>
		<servlet-class>Controll.Controller.Admin.HomeControllerAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeControllerAdmin</servlet-name>
		<url-pattern>/HomeControllerAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Test</display-name>
		<servlet-name>Test</servlet-name>
		<servlet-class>Controll.Test.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserControllerAdmin</display-name>
		<servlet-name>UserControllerAdmin</servlet-name>
		<servlet-class>Controll.Controller.Admin.UserControllerAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerAdmin</servlet-name>
		<url-pattern>/UserControllerAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VideoControllerAdmin</display-name>
		<servlet-name>VideoControllerAdmin</servlet-name>
		<servlet-class>Controll.Controller.Admin.VideoControllerAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoControllerAdmin</servlet-name>
		<url-pattern>/VideoControllerAdmin</url-pattern>
	</servlet-mapping>

	<!--configue khi người dùng nhập đường dẫn sai thì sẽ vào 404 -->
<!--	<error-page>-->
<!--		<error-code>400</error-code>-->
<!--		<location>/views/404Page/404page.jsp</location>-->
<!--	</error-page>-->

<!--	<error-page>-->
<!--		<error-code>404</error-code>-->
<!--		<location>/views/404Page/404page.jsp</location>-->
<!--	</error-page>-->

<!--	<error-page>-->
<!--		<error-code>500</error-code>-->
<!--		<location>/views/404Page/500page.jsp</location>-->
<!--	</error-page>-->
</web-app>